<div id="body-box">
  <div id="side-nav">
    <ul class="list">
      <li class="list-item"><a class="item-link" onClick="ScrollTo('about');">About</a></li>
      <li class="list-item"><a class="item-link" onClick="ScrollTo('menu');">Menu</a></li>
      <li class="list-item"><a class="item-link" onClick="ScrollTo('events');">Events</a></li>
      <li class="list-item"><a class="item-link" onClick="ScrollTo('story');">Story</a></li>
      <li class="list-item"><a class="item-link" onClick="ScrollTo('gallery');">Gallery</a></li>
      <li class="list-item"><a class="item-link" onClick="ScrollTo('contact');">Contact</a></li>
    </ul>
  </div>

  <div id="body-container">

    <div id="sticky-nav" class="background grey">
      <div class="container">
        <div class="row">
          <div id="nav-bar" class="col-xs-12">
            <ul class="list il nav-response">
              <li class="list-item"><a class="item-link" onClick="ScrollTo('about');">About</a></li>
              <li class="list-item"><a class="item-link" onClick="ScrollTo('menu');">Menu</a></li>
              <li class="list-item"><a class="item-link" onClick="ScrollTo('events');">Events</a></li>
            </ul>
            <ul class="list il nav-toggle">
              <li class="list-item"><a class="item-icon item-link" id="nav-toggle"><i class="fa fa-bars"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-placeholder"></div>
    