<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">{{ parent ? parent.title : 'Root' }}</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card card-primary card-outline">
        <div class="card-header" style="padding-bottom: 0;">
            <ul class="nav nav-tabs" style="border-bottom: 0;">
                <li class="nav-item" *ngIf="canSubPage">
                    <a [class.active]="tab == 'pages'" (click)="tab = 'pages'" class="nav-link">Sub Pages</a>
                </li>
                <li class="nav-item" *ngIf="!parentId">
                    <a [class.active]="tab == 'partials'" (click)="tab = 'partials'" class="nav-link">Partials</a>
                </li>
                <li class="nav-item" *ngIf="!parentId">
                    <a [class.active]="tab == 'layouts'" (click)="tab = 'layouts'" class="nav-link">Layouts</a>
                </li>
                <li class="nav-item" *ngIf="parentId">
                    <a [class.active]="tab == 'code'" (click)="tab = 'code'" class="nav-link">Code</a>
                </li>
                <li class="nav-item">
                    <a [class.active]="tab == 'settings'" (click)="tab = 'settings'" class="nav-link">Settings</a>
                </li>
            </ul>
        </div>
        
        <div *ngIf="tab == 'pages'" class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <ul *ngIf="pages" class="list-group">
                        <li *ngFor="let page of pages" class="list-group-item list-items">
                            <a [routerLink]="'/admin/pages/' + page.id">{{ page.title }}</a>
                            <a (click)="deletePage(page)" class="btn btn-sm btn-danger"><i class="fas fa-times"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div *ngIf="tab == 'partials'" class="card-body" style="padding: 5px 15px;">
            <div class="row">
                <div class="col-md-4">
                    <ul *ngIf="pages" class="list-group">
                        <li *ngFor="let partial of partials" class="list-group-item list-items">
                            <a (click)="openPartial(partial)">{{ partial }}</a>
                            <a (click)="deletePartial(partial)" class="btn btn-sm btn-danger"><i class="fas fa-times"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8" style="min-height: 600px;">
                    <ace [config]="config" [(value)]="code[codeTab]" style="position: relative"></ace>
                </div>
            </div>
        </div>

        <div *ngIf="tab == 'layouts'" class="card-body" style="padding: 5px 15px;">
            <div class="row">
                <div class="col-md-4">
                    <ul *ngIf="pages" class="list-group">
                        <li *ngFor="let layout of layouts" class="list-group-item list-items">
                            <a (click)="openLayout(layout)">{{ layout }}</a>
                            <a (click)="deleteLayout(layout)" class="btn btn-sm btn-danger"><i class="fas fa-times"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8" style="min-height: 600px;">
                    <ace [config]="config" [(value)]="code[codeTab]" style="position: relative"></ace>
                </div>
            </div>
        </div>

        <div *ngIf="tab == 'code'" class="card-body" style="padding: 5px 15px;">
            <div class="editor" style="margin: 0px 5px;">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a [class.active]="codeTab == 'template'" (click)="openCode('template')" class="nav-link">Template</a>
                    </li>
                    <li class="nav-item" *ngIf="parentId">
                        <a [class.active]="codeTab == 'script'" (click)="openCode('script')" class="nav-link">Script</a>
                    </li>
                    <li class="nav-item" *ngIf="parentId">
                        <a [class.active]="codeTab == 'style'" (click)="openCode('style')" class="nav-link">Style</a>
                    </li>
                </ul>
            </div>
            <div class="card" style="min-height: 600px;">
                <div class="card-body" style="position: relative; padding: 0;">
                    <ace [config]="config" [(value)]="code[codeTab]"></ace>
                </div>
            </div>
        </div>

        <div *ngIf="tab == 'settings'" class="card-body settings">

            <h4>Scripts</h4>
            <div class="form-control file-link" *ngFor="let script of assets.scripts">
                <input type="text" [value]="script.file" (change)="onUpdateFile($event, 'scripts', script.id)">
                <a class="btn btn-danger btn-sm" (click)="onDeleteFile(script.id, 'scripts')">Delete</a>
            </div>
            <div class="form-control file-link">
                <input type="text" [(ngModel)]="settings.script">
                <a class="btn btn-primary btn-sm" (click)="onSaveFile('scripts')">Save</a>
            </div>

            <h4>Styles</h4>
            <div class="form-control file-link" *ngFor="let style of assets.styles">
                <input type="text" [value]="style.file" (change)="onUpdateFile($event, 'styles', style.id)">
                <a class="btn btn-danger btn-sm" (click)="onDeleteFile(style.id, 'styles')">Delete</a>
            </div>
            <div class="form-control file-link">
                <input type="text" [(ngModel)]="settings.style">
                <a class="btn btn-primary btn-sm" (click)="onSaveFile('styles')">Save</a>
            </div>
            
            <h4>Meta Tags</h4>
            <div class="form-control file-link" *ngFor="let meta of assets.meta">
                <select (change)="onUpdateFile($event, 'meta_type', meta.id)">
                    <option disabled>Meta Types</option>
                    <option *ngFor="let type of meta_types" [value]="type" [attr.selected]="type == meta.type">{{ type }}</option>
                </select>
                <input type="text" [value]="meta.content" (change)="onUpdateFile($event, 'meta_content', meta.id)">
                <a class="btn btn-danger btn-sm" (click)="onDeleteFile(meta.id, 'meta')">Delete</a>
            </div>
            <div class="form-control file-link">
                <select [(ngModel)]="settings.meta_type">
                    <option disabled selected>Meta Types</option>
                    <option *ngFor="let type of meta_types" [value]="type">{{ type }}</option>
                </select>
                <input type="text" [(ngModel)]="settings.meta_content">
                <a class="btn btn-primary btn-sm" (click)="onSaveFile('meta')">Save</a>
            </div>
        </div>
        <!-- Site  -->
        <!-- <div *ngIf="tab == 'settings' && !parentId" class="card-body">
            
        </div> -->

        <div *ngIf="tab == 'pages'" class="card-footer">
            <button class="btn btn-primary btn-sm" (click)="onNewPage();"><i class="fa fa-plus"></i> Add Page</button>
        </div>

        <div *ngIf="tab == 'partials'" class="card-footer">
            <button class="btn btn-primary btn-sm" (document:keydown.meta.s)="onSavePartial($event)" (click)="onSavePartial()">Save</button>
            <button class="btn btn-primary btn-sm" (click)="onNewPartial()">New Partial</button>
        </div>

        <div *ngIf="tab == 'layouts'" class="card-footer">
            <button class="btn btn-primary btn-sm" (document:keydown.meta.s)="onSaveLayout($event)" (click)="onSaveLayout()">Save</button>
            <button class="btn btn-primary btn-sm" (click)="onNewLayout()">New Layout</button>
        </div>

        <div *ngIf="tab == 'code'" class="card-footer">
            <button class="btn btn-primary btn-sm" (document:keydown.meta.s)="onSaveCode($event)" (click)="onSaveCode()">Save</button>
        </div>


    </div>  
</section>