<div class="content">
    <div class="modal-header">
        <h4 class="modal-title">New Partial</h4>
        <button aria-label="Close" class="close" type="button" (click)="onClose()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" placeholder="Name" [(ngModel)]="fileName">
            </div>
        </div>
    </div>
    
    <div class="modal-footer">
            <button _ngcontent-jwm-c4="" class="btn btn-outline-success" type="button" (click)="onSave()">Save</button>
    </div>
</div>
    