<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        {{!-- Global Resources --}}
        {{#each styles}}
            <link rel="stylesheet" href="{{ this }}">
        {{/each}}
        {{!-- Page Resources --}}
        <script src="/socket.io/socket.io.js"></script>
        {{#each scripts}}
            <script src="{{ this }}" <!-- {{#if defer}}async defer{{/if}} --> ></script>
        {{/each}}
        {{!-- Meta --}}
        <title>{{ page.title }}</title>
        
    </head>
    <body class="body">
        {{> header}}
        {{{body}}}
        {{> footer}}
    </body>
</html>