<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Error 404</h1>
            <p>Page could not be found</p>
            <a class="btn btn-primary" href="/home">Return Home</a>
        </div>
    </div>
</div>