<div class="container">
    <div class="row ">
        <div class="col-sm-12">
            <h1>
                ERROR 404
            </h1>
            <h4>Page <b>{{ data.url }}</b> not found</h4>
        </div>
    </div>
</div>